h1 {
    font-size: 4em;
    font-family: 'Mochiy Pop P One', sans-serif;
    text-align: center;
    background-color: grey;
    color: white;
}

p{
    text-align: left;
    padding-left: 6em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2{
    text-align: center;
    font-size: large;
    font-weight: bold;
    color: gray;
}

h3{
    text-align: center;
    font-weight: bold;
    font-size: medium;
}

h4{
    text-align: left;
    font-weight: bold;
    font-size: medium;
}

ol{
    text-align: left;
    padding-left: 10em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

ul{
    font-weight: normal;
}

/* unvisited link */
a:link {
    color: black;
  }

/* mouse over link */
a:hover {
color: grey;
}

/* selected link */
a:active {
color:  blue;
}

